/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    align-items: center;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347;
}

aside {
    width: 15%;
    height: 70%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: rgb(160, 217, 240);
    text-decoration: underline;
    color: rgb(255, 14, 14);
  }

/* Section Styles */
section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    background-color: rgb(236, 228, 235);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 1s ease-out;
}

section h2 {
    color: #333;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5rem 0 0.2rem;
}

form input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

form input:focus {
    border-color: #ff6347;
}

form button {
    padding: 0.7rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #555;
}

section:hover {
    background-color: #e7f074;
}



/* Footer Styles */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    animation: fadeIn 2s ease-in-out;
}


/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
